@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid white; */
}
body{
    /* background: #020410; */
}

.header{
    width:100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.para {
    text-align: justify;
}
.side-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

@media only screen and (max-width: 850px) {
    .header {
        flex-direction: column;
        gap: 1rem;
    }
    .navbar {
        flex-wrap: wrap;
    }
    .search-bar {
        place-items: center;
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
  .content {
        height: fit-content;
    }
    .form-box  {
        height: fit-content !important;
    }
}

.register {
    display: none;
}

.navbar {
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.navbar a{
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius:5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}


.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}


.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}
.search-bar input::placeholder{
    color: #e4e4e4;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-bar button i{
    font-size: 22px;
    color: #e4e4e4;
    
}

.background{
    height: 110vh;
    padding-bottom: 20px;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
    
}

.parent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 850px) {
    .content {
        padding: 20px !important;
    }
}
.container{
    display: flex;
    width : 75%;
    height: 80vh;
    background: url('https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-preview.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;

}



.content{
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 2;
}

.content .logo{
    font-size: 30px;
}

.text-sci h2{
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span{
    font-size: 25px;
}

.text-sci p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icons a i{
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px ;
    transition: .5s ease;
}

.form-box-container {
    width: 100%;
    flex: 2;
}

.social-icons a:hover i{
    transform: scale(1.2);
}


.form-box{
    padding: 10%;
    height: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(15px) ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}

.logreg-box .form-box.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login{
    transform: translateX(430px);
    transition-delay: 0s ;
}

.logreg-box .form-box.register{
    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.register{
    transform: translateX(0);
    transition-delay: .7s ;
}


.form-box h2{
    font-size: calc();
    text-align: center;
}

.form-box .input-box{
    position: relative;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.special-case{
    top: -5px !important;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.form-box .remember-forget{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}

.remember-forget a{
    color: #e4e4e4;
    text-decoration: none;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #c41;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.form-box .login-register
{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.login-register p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
}

.login-register p a:hover{
    text-decoration: underline;
}



.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    width: 75%;
    margin: auto;
  }
  




